<!DOCTYPE HTML>
<html lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>OnlineShop - Authentification</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1 class="center"><a href="home"> 🏪 OnlineShop 🏪 </a></h1>

<div class="center">
    <form action="#" class="line center flex-y" method="post"
          th:action="@{login}"
          th:object="${loginCredentials}">

        <div class="flex-y form-box">
            <h3 class="error-msg" th:if="${pageErrorMessage} != ''" th:text="${pageErrorMessage}"></h3>
            <h2>Login</h2>

            <div class="input-box">
                Pseudo <br> <input th:field="*{pseudo}" type="text"> <br>
                <div class="error-msg" th:errors="*{pseudo}" th:if="${#fields.hasErrors('pseudo')}"></div>
            </div>

            <div class="input-box">
                Password <br> <input th:field="*{password}" type="text"> <br>
                <div class="error-msg" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></div>
            </div>

            <div style="font-size: 10pt; text-align: right;">
                Don't have an account ? <br>
                <a href="register">Create one here.</a>
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
</body>

</html>