<!DOCTYPE HTML>
<html lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>OnlineShop - Sell</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1 class="center"><a href="home"> 🏪 OnlineShop 🏪 </a></h1>

    <div class="center">
        <!--/*@thymesVar id="adv" type="fr.uge.ifservice.springboot.AdTemplate"*/-->
        <form action="#" class="line center flex-y" method="post" th:action="@{sell}" th:object="${adv}">

            <h2>Create your advertising:</h2>
            <div class="flex-y large-form-box">
                <div class="flex-y ">
                    <div class="input-box">
                        Name of the product <br> <input th:field="*{name}" type="text"> <br>
                        <div class="error-msg" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
                    </div>

                    <div class="input-box">
                        Quick description <br> <textarea  th:field="*{desc}"></textarea>
                    </div>
                </div>

                <div class="flex-y ">
                    <div class="input-box">
                    State: <br>
                    <div th:each="enum : ${states}">
                        <input type="radio" th:value="${enum}" />
                        <label  th:text="${enum}"></label>
                    </div>
                </div>

                <div class="center line">
                    <div class="input-box">
                        Quantity <br> <input th:field="*{quantity}" type="number"> <br>
                        <div class="error-msg" th:errors="*{quantity}" th:if="${#fields.hasErrors('quantity')}"></div>
                    </div>

                    <div class="input-box">
                        Price <br> <input th:field="*{price}" type="number">€ <br>
                        <div class="error-msg" th:errors="*{price}" th:if="${#fields.hasErrors('price')}"></div>
                    </div>
                </div>
            </div>
            <div class="flex center">
                <a href="home">↩ Back</a>
                <button type="submit">Sell</button>
            </div>
            </div>
        </form>
    </div>
</body>

</html>